# Summer Recap: Data Analysis with Pandas

* * * 

<div class="alert alert-success">  
    
### Learning Objectives 
    
* Review fundamental pandas operations for data manipulation and analysis.
* Apply data cleaning techniques to real-world social science datasets.
* Practice exploratory data analysis using descriptive statistics and basic visualizations.
* Demonstrate ability to filter, group, and aggregate data using pandas methods.
* Evaluate LLM-generated code for accuracy and best practices.
</div>

### Icons Used in This Notebook
üîî **Question**: A quick question to help you understand what's going on.<br>
ü•ä **Challenge**: Interactive exercise. We'll work through these in the workshop!<br>
üí° **Tip**: How to do something a bit more efficiently or effectively.<br>
‚ö†Ô∏è **Warning:** Heads-up about tricky stuff or common mistakes.<br>
ü§ñ **AI Generated**: Code generated by an LLM that we'll test and debug.<br>

### Sections
1. [Data Loading and Initial Exploration](#section1)
2. [Data Cleaning and Basic Operations](#section2)
3. [Exploratory Data Analysis](#section3)
4. [Text Analysis Fundamentals](#section4)
5. [Working with LLM-Generated Code](#section5)

In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

<a id='section1'></a>

# Data Loading and Initial Exploration

Today we'll work with data from Reddit's "Am I the Asshole?" (AITA) subreddit. This dataset contains posts where people describe situations and ask for community judgment about their behavior.

In [25]:
# Load the dataset
df = pd.read_csv('../../data/aita_top_subs.csv')

# Display basic information about the dataset
print(f"Dataset shape: {df.shape}")
print(f"\nColumn names:")
print(df.columns.tolist())

Dataset shape: (10000, 23)

Column names:
['idint', 'idstr', 'created', 'self', 'nsfw', 'author', 'title', 'url', 'selftext', 'score', 'subreddit', 'distinguish', 'textlen', 'num_comments', 'flair_text', 'flair_css_class', 'augmented_at', 'augmented_count', 'created_date', 'year', 'month', 'day_of_week', 'text_length']

In [26]:
# Display the first few rows
df.head()

,idint,idstr,created,self,nsfw,author,title,url,selftext,score,...,num_comments,flair_text,flair_css_class,augmented_at,augmented_count,created_date,year,month,day_of_week,text_length
0,797709732,t3_d6xoro,1568998300,1.0,0.0,DarthCharizard,META: This sub is moving towards a value syste...,NaN,I‚Äôve enjoyed reading and posting on this sub f...,80915.0,...,6215.0,META,NaN,NaN,NaN,2019-09-20 16:51:40,2019,9,Friday,3266.0
1,1472895100,t3_ocx94s,1625315782,1.0,0.0,OnlyInQuebec9,AITA for telling my wife the lock on my daught...,NaN,My brother in-law (Sammy) lost his home shortl...,80334.0,...,5318.0,Not the A-hole,not,NaN,NaN,2021-07-03 12:36:22,2021,7,Saturday,2664.0
2,664921441,t3_azvko1,1552322462,1.0,0.0,Renegadesrule33,"UPDATE, AITA for despising my mentally handica...",NaN,"I'm back like I said I would be,. My [original...",72776.0,...,1989.0,UPDATE,NaN,NaN,NaN,2019-03-11 16:41:02,2019,3,Monday,5437.0
3,855862814,t3_e5k3z2,1575392873,1.0,0.0,throwRA-fhfsveyary,AITA for pretending to get fired when customer...,NaN,I am a high schooler with a weekend job at a c...,63526.0,...,3645.0,Not the A-hole,not,NaN,NaN,2019-12-03 17:07:53,2019,12,Tuesday,2096.0
4,756636047,t3_cihc3z,1564233111,1.0,0.0,Thunderbear998,AITA for telling my extended family how many m...,NaN,We had a family dinner this evening. My family...,54132.0,...,5190.0,Everyone Sucks,ass,NaN,NaN,2019-07-27 13:11:51,2019,7,Saturday,1662.0

## ü•ä Challenge 1: Data Overview

Explore the dataset structure and provide a summary of what you find. Use pandas methods to:
1. Check the data types of each column
2. Look for missing values
3. Get basic descriptive statistics for numerical columns

In [27]:
# YOUR CODE HERE (3 parts/code cells)

# 1. Check the data types
print("Column Data Types:")
print(df.dtypes)

Column Data Types:
idint                int64
idstr               object
created              int64
self               float64
nsfw               float64
author              object
title               object
url                float64
selftext            object
score              float64
subreddit           object
distinguish         object
textlen            float64
num_comments       float64
flair_text          object
flair_css_class     object
augmented_at       float64
augmented_count    float64
created_date        object
year                 int64
month                int64
day_of_week         object
text_length        float64
dtype: object

In [28]:
# 2. Missing values
print("\nMissing Values per Column:")
print(df.isnull().sum())

Missing Values per Column:
idint                  0
idstr                  0
created                0
self                   0
nsfw                   0
author                 0
title                  0
url                10000
selftext               4
score                  0
subreddit              0
distinguish         9999
textlen                0
num_comments           0
flair_text          1175
flair_css_class     1441
augmented_at       10000
augmented_count    10000
created_date           0
year                   0
month                  0
day_of_week            0
text_length            4
dtype: int64

In [29]:

# 3. Descriptive Stats
print("\nDescriptive Statistics:")
print(df.describe())

Descriptive Statistics:
              idint       created     self          nsfw  url         score  \
count  1.000000e+04  1.000000e+04  10000.0  10000.000000  0.0  10000.000000
mean   1.213800e+09  1.604749e+09      1.0      0.005300  NaN  10137.508500
std    2.832943e+08  2.370645e+07      0.0      0.072612  NaN   6987.893464
min    5.826428e+08  1.539143e+09      1.0      0.000000  NaN   3739.000000
25%    1.003247e+09  1.589699e+09      1.0      0.000000  NaN   5168.750000
50%    1.224636e+09  1.607434e+09      1.0      0.000000  NaN   7437.000000
75%    1.472430e+09  1.625272e+09      1.0      0.000000  NaN  13128.250000
max    1.662312e+09  1.639655e+09      1.0      1.000000  NaN  80915.000000

           textlen  num_comments  augmented_at  augmented_count          year  \
count  10000.00000  10000.000000           0.0              0.0  10000.000000
mean    1878.93120   1218.262500           NaN              NaN   2020.303200
std      830.80909    946.524966           NaN              NaN      0.737105
min        0.00000    321.000000           NaN              NaN   2018.000000
25%     1347.00000    591.000000           NaN              NaN   2020.000000
50%     1934.00000    911.000000           NaN              NaN   2020.000000
75%     2532.00000   1505.000000           NaN              NaN   2021.000000
max     7750.00000  10265.000000           NaN              NaN   2021.000000

              month   text_length
count  10000.000000   9996.000000
mean       7.098600   1924.839236
std        3.330734   1305.271474
min        1.000000      1.000000
25%        5.000000   1146.000000
50%        7.000000   1971.000000
75%       10.000000   2756.000000
max       12.000000  15084.000000

üîî **Question**: What do you notice about the `selftext` column? What might this tell us about the data?
* In this column, values are 1.0 and reading as an object.

In [30]:
print(df["selftext"])

0       I‚Äôve enjoyed reading and posting on this sub f...
1       My brother in-law (Sammy) lost his home shortl...
2       I'm back like I said I would be,. My [original...
3       I am a high schooler with a weekend job at a c...
4       We had a family dinner this evening. My family...
                              ...
9995    This is so stupid. I can‚Äôt believe I‚Äôm even po...
9996                                            [removed]
9997    \nI divorced my wife shortly after our 11 year...
9998    My younger sister is getting married to my ex ...
9999    We visit my ILs a lot. Way too much, IMHO. But...
Name: selftext, Length: 10000, dtype: object

In [31]:
print(df[df["selftext"].isnull()].index)

Index([1865, 2177, 3516, 7246], dtype='int64')

<a id='section2'></a>

# Data Cleaning and Basic Operations

Real-world data often requires cleaning before analysis. Let's examine our dataset for common issues.

In [32]:
# Check for duplicate posts
print(f"Number of duplicate rows: {df.duplicated().sum()}")

# Look at the distribution of some key variables
print(f"\nScore statistics:")
print(df['score'].describe())

Number of duplicate rows: 0

Score statistics:
count    10000.000000
mean     10137.508500
std       6987.893464
min       3739.000000
25%       5168.750000
50%       7437.000000
75%      13128.250000
max      80915.000000
Name: score, dtype: float64

## ü•ä Challenge 2: Data Cleaning

Clean the dataset by:
1. Removing any posts where `selftext` is missing or empty
2. Creating a new column called `text_length` that contains the character count of `selftext`
3. Filter out posts that are shorter than 100 characters (likely low-quality posts)

In [ ]:
# YOUR CODE HERE

# 1. Remove posts where selftext is missing or empty
df2 = df[df["selftext"].notnull()]          # remove NaN
df2 = df2[df2["selftext"].str.strip() != ""]  # remove empty strings

           idint      idstr     created  self  nsfw                author  \
0      797709732  t3_d6xoro  1568998300   1.0   0.0        DarthCharizard
1     1472895100  t3_ocx94s  1625315782   1.0   0.0         OnlyInQuebec9
2      664921441  t3_azvko1  1552322462   1.0   0.0       Renegadesrule33
3      855862814  t3_e5k3z2  1575392873   1.0   0.0    throwRA-fhfsveyary
4      756636047  t3_cihc3z  1564233111   1.0   0.0        Thunderbear998
...          ...        ...         ...   ...   ...                   ...
9995  1095380546  t3_i45t1e  1596635860   1.0   0.0            Zodiac1031
9996  1240844365  t3_kirln1  1608723816   1.0   0.0       throwaway447282
9997  1606282878  t3_qkc7su  1635767270   1.0   0.0          ThePorch2021
9998  1590272785  t3_qat2c1  1634582579   1.0   0.0  1_OfChamberlains_20k
9999   896555134  t3_etsada  1579967163   1.0   0.0              lilybee_

                                                  title  url  \
0     META: This sub is moving towards a value syste...  NaN
1     AITA for telling my wife the lock on my daught...  NaN
2     UPDATE, AITA for despising my mentally handica...  NaN
3     AITA for pretending to get fired when customer...  NaN
4     AITA for telling my extended family how many m...  NaN
...                                                 ...  ...
9995  AITA for telling my husband we can‚Äôt take our ...  NaN
9996         AITA for not wearing a bra in my own home?  NaN
9997  AITA for telling my son's stepfather that I'll...  NaN
9998  AITA for not going to my sisters wedding, beca...  NaN
9999  AITA if I refuse to let my in-laws take my bab...  NaN

                                               selftext    score  ...  \
0     I‚Äôve enjoyed reading and posting on this sub f...  80915.0  ...
1     My brother in-law (Sammy) lost his home shortl...  80334.0  ...
2     I'm back like I said I would be,. My [original...  72776.0  ...
3     I am a high schooler with a weekend job at a c...  63526.0  ...
4     We had a family dinner this evening. My family...  54132.0  ...
...                                                 ...      ...  ...
9995  This is so stupid. I can‚Äôt believe I‚Äôm even po...   3742.0  ...
9996                                          [removed]   3742.0  ...
9997  \nI divorced my wife shortly after our 11 year...   3741.0  ...
9998  My younger sister is getting married to my ex ...   3740.0  ...
9999  We visit my ILs a lot. Way too much, IMHO. But...   3739.0  ...

     num_comments      flair_text  flair_css_class  augmented_at  \
0          6215.0            META              NaN           NaN
1          5318.0  Not the A-hole              not           NaN
2          1989.0          UPDATE              NaN           NaN
3          3645.0  Not the A-hole              not           NaN
4          5190.0  Everyone Sucks              ass           NaN
...           ...             ...              ...           ...
9995        549.0  Not the A-hole              not           NaN
9996        870.0  Not the A-hole              not           NaN
9997        406.0  Not the A-hole              not           NaN
9998        612.0  Not the A-hole              not           NaN
9999        663.0  Not the A-hole              not           NaN

     augmented_count         created_date  year  month day_of_week  \
0                NaN  2019-09-20 16:51:40  2019      9      Friday
1                NaN  2021-07-03 12:36:22  2021      7    Saturday
2                NaN  2019-03-11 16:41:02  2019      3      Monday
3                NaN  2019-12-03 17:07:53  2019     12     Tuesday
4                NaN  2019-07-27 13:11:51  2019      7    Saturday
...              ...                  ...   ...    ...         ...
9995             NaN  2020-08-05 13:57:40  2020      8   Wednesday
9996             NaN  2020-12-23 11:43:36  2020     12   Wednesday
9997             NaN  2021-11-01 11:47:50  2021     11      Monday
9998             NaN  2021-10-18 18:42:59  2021     10      Monday
9999             NaN  2020-01-25 15:46:03  2020      1    Saturday

      text_length
0          3266.0
1          2664.0
2          5437.0
3          2096.0
4          1662.0
...           ...
9995       3785.0
9996          9.0
9997       2608.0
9998        489.0
9999        744.0

[9996 rows x 23 columns]

In [45]:

# 2. New column - text length
df2["text_length"] = df2["selftext"].str.len()
print(df2["text_length"])

0       3266
1       2664
2       5437
3       2096
4       1662
        ...
9995    3785
9996       9
9997    2608
9998     489
9999     744
Name: text_length, Length: 9996, dtype: int64

In [39]:
# 3. Filter out shorter than 100 characters
df2 = df2[df2["text_length"] >= 100]

In [ ]:
# Final cleaned dataset
print(df2.head())
# print("\nRemaining rows:", len(df2))

        idint      idstr     created  self  nsfw              author  \
0   797709732  t3_d6xoro  1568998300   1.0   0.0      DarthCharizard
1  1472895100  t3_ocx94s  1625315782   1.0   0.0       OnlyInQuebec9
2   664921441  t3_azvko1  1552322462   1.0   0.0     Renegadesrule33
3   855862814  t3_e5k3z2  1575392873   1.0   0.0  throwRA-fhfsveyary
4   756636047  t3_cihc3z  1564233111   1.0   0.0      Thunderbear998

                                               title  url  \
0  META: This sub is moving towards a value syste...  NaN
1  AITA for telling my wife the lock on my daught...  NaN
2  UPDATE, AITA for despising my mentally handica...  NaN
3  AITA for pretending to get fired when customer...  NaN
4  AITA for telling my extended family how many m...  NaN

                                            selftext    score  ...  \
0  I‚Äôve enjoyed reading and posting on this sub f...  80915.0  ...
1  My brother in-law (Sammy) lost his home shortl...  80334.0  ...
2  I'm back like I said I would be,. My [original...  72776.0  ...
3  I am a high schooler with a weekend job at a c...  63526.0  ...
4  We had a family dinner this evening. My family...  54132.0  ...

  num_comments      flair_text  flair_css_class  augmented_at augmented_count  \
0       6215.0            META              NaN           NaN             NaN
1       5318.0  Not the A-hole              not           NaN             NaN
2       1989.0          UPDATE              NaN           NaN             NaN
3       3645.0  Not the A-hole              not           NaN             NaN
4       5190.0  Everyone Sucks              ass           NaN             NaN

          created_date  year  month day_of_week  text_length
0  2019-09-20 16:51:40  2019      9      Friday         3266
1  2021-07-03 12:36:22  2021      7    Saturday         2664
2  2019-03-11 16:41:02  2019      3      Monday         5437
3  2019-12-03 17:07:53  2019     12     Tuesday         2096
4  2019-07-27 13:11:51  2019      7    Saturday         1662

[5 rows x 23 columns]

üí° **Tip**: Use the `.str.len()` method to get string lengths in pandas. Remember that missing values might cause issues, so handle them first!

## Working with Dates

The `created` column contains Unix timestamps. Let's convert these to readable dates.

In [43]:
# Convert Unix timestamp to datetime
df['created_date'] = pd.to_datetime(df['created'], unit='s')

# Extract useful date components
df['year'] = df['created_date'].dt.year
df['month'] = df['created_date'].dt.month
df['day_of_week'] = df['created_date'].dt.day_name()

print("Date range in dataset:")
print(f"From: {df['created_date'].min()}")
print(f"To: {df['created_date'].max()}")

Date range in dataset:
From: 2018-10-10 03:39:34
To: 2021-12-16 11:46:38

<a id='section3'></a>

# Exploratory Data Analysis

Now let's explore patterns in the data using pandas grouping and aggregation functions.

## ü•ä Challenge 3: Score Analysis

Analyze post popularity by:
1. Finding the top 10 posts by score
2. Calculating the average score by year
3. Determining which day of the week gets the highest average scores

In [51]:
# YOUR CODE HERE
top10_posts = df2.nlargest(10, "score")
print("Top 10 posts by score:")
print(top10_posts[["score", "selftext"]])

Top 10 posts by score:
     score                                           selftext
0  80915.0  I‚Äôve enjoyed reading and posting on this sub f...
1  80334.0  My brother in-law (Sammy) lost his home shortl...
2  72776.0  I'm back like I said I would be,. My [original...
3  63526.0  I am a high schooler with a weekend job at a c...
4  54132.0  We had a family dinner this evening. My family...
5  51323.0  My aunt and uncle are paying for my cousins co...
6  49967.0  \n\n\nContext: My sister (F27) and I (18F) los...
7  48572.0  (reposted with mod approval)\n\nOriginal post:...
8  47893.0   Link to original post-  [https://www.reddit.c...
9  47771.0  So my son had a long-distance gf recently for ...

In [52]:
df2["created_date"] = pd.to_datetime(df2["created_date"], errors="coerce")

df2["year"] = df2["created_date"].dt.year
avg_score_by_year = df2.groupby("year")["score"].mean().sort_index()
print("\nAverage score by year:")
print(avg_score_by_year)

Average score by year:
year
2018     8178.867647
2019    12185.123024
2020    10356.536883
2021     9338.448843
Name: score, dtype: float64

## Comment Engagement Analysis

Now, let's explore how users interact with posts by analyzing the volume and distribution of comments, which can highlight engagement patterns and community response.

In [ ]:
# Explore the relationship between text length and engagement
correlation = df[['text_length', 'score', 'num_comments']].corr()
print("Correlation matrix:")
print(correlation)

üîî **Question**: What does the correlation tell us about the relationship between post length and engagement?

## ü•ä Challenge 4: Engagement Categories

Create engagement categories and analyze them:
1. Create a new column `engagement_level` with categories:
   - 'Low': score < 4000
   - 'Medium': score 4000-6000
   - 'High': score 6000-10000
   - 'Viral': score > 20000
2. Calculate the percentage of posts in each category
3. Find the average text length for each engagement level

In [ ]:
# YOUR CODE HERE

<a id='section4'></a>

# Text Analysis Fundamentals

Let's do some basic text analysis to understand the content patterns.

## ü•ä Challenge 5: Text Pattern Analysis

Analyze text patterns by:
1. Finding posts that contain the word "family" (case-insensitive)
2. Counting how many posts mention "wedding" or "marriage"
3. Creating a column indicating whether the post is about relationships (contains words like "boyfriend", "girlfriend", "husband", "wife")

In [ ]:
# YOUR CODE HERE

üí° **Tip**: Use the `.str.contains()` method with pandas to search for text patterns. The `case=False` parameter makes the search case-insensitive.

## Author Analysis

Let's examine the authors. Do authors post multiple times? If so, who posts the most?

In [ ]:
# Analyze posting patterns by author
author_stats = df['author'].value_counts().head(10)
print("Top 10 most active authors:")
print(author_stats)

## ü•ä Challenge 6: Final Analysis

Combine multiple pandas operations to answer this question:
**"What are the characteristics of the most engaging posts about relationships?"**

Create an analysis that:
1. Filters for relationship-related posts
2. Groups them by engagement level
3. Calculates average text length, comment count, and any other relevant metrics
4. Presents a clear summary of your findings

In [ ]:
# YOUR CODE HERE

‚ö†Ô∏è **Warning**: When working with text data, always be mindful of missing values and different text encodings that might cause unexpected results.

<div class="alert alert-success">

## ‚ùó Key Points

* Pandas provides powerful tools for loading, cleaning, and exploring real-world datasets.
* Always start data analysis by understanding your dataset structure and checking for data quality issues.
* The `.groupby()` method is essential for aggregating data and finding patterns across categories.
* Text data requires special handling, including case-insensitive searches and pattern matching.
* Correlation analysis helps identify relationships between numerical variables.
* Creating categorical variables from continuous data enables different types of analysis.

</div>